div {
    border: dotted 1px #777;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #ccc;
    font-size: 15px;
}

section {
	display: inline-block;


}

board {
    display: flex;           /* establish flex container */
    /*flex-direction: column;   make main axis vertical */
    justify-content: center;  center items vertically, in this case 
    align-items: center; 
}

.clicked {
	color: #ccc;
	/*background-color: red;*/
	pointer-events: none;
}

.noclick{
	pointer-events: none;

}

.clickable {
	pointer-events: auto;
}

.p1Click {
	background-color: blue;
}

.p2Click {
	background-color: yellow;
}

p {
 
}
